/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  padding-top: 5%;
  height: 100%;
  width:100%;
  
}
 