<div>
    <app-admin-dashboard></app-admin-dashboard>
</div>
<head>
    <title>View Salary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  

    <div class="container">
        <b style="font-size: 24px;"> List of Salary Structure</b>
        <table class="table">
          <thead class="thead-light">
              <tr>
               
                <th scope="col">Grade</th>
                <th scope="col">Amount</th>
                <th scope="col">Tax Percent</th>
                <th scope="col">Gross Income</th>
                <th scope="col">Gross Deduction</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
      
              <tr *ngFor="let e of salaryArr;let i=index">
               
                <td>{{e.grade}}</td>
                <td>{{e.amount}}</td>
                <td>{{e.taxPercent}}</td>
                <td>{{e.grossIncome}}</td>
                <td>{{e.grossDeduction}}</td>
                <td>
                  <button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0" (click)="updateSalary(e)">Edit</button>
                </td>
                <td>
                  <button type="button"
                      class="btn btn-success btn-rounded btn-sm my-0" (click)="deleteSalary(e.sid)">Delete</button>
                </td>
              </tr>
             
    
    
            </tbody>
          </table>
          
    </div>
</body>
