<div>
    <app-admin-dashboard></app-admin-dashboard>
</div>

<body>
    <div class="login-box">
        <h1 class="text-white"><b>Change Password</b></h1><br>
        <div class="container" *ngIf="displayOldPwd">


            <form [formGroup]="checkOldPwdForm" (ngSubmit)="onSubmitOldPwd()">


                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="oldPassword" class="text-white">Old Password</label>
                        <input type="password" class="form-control" formControlName="oldPassword" id="oldPassword"
                            placeholder="Enter oldPassword" required />
                        <div
                            *ngIf="checkOldPwdForm.controls.oldPassword.invalid && (checkOldPwdForm.controls.oldPassword.dirty || checkOldPwdForm.controls.oldPassword.touched )">
                            <div *ngIf="checkOldPwdForm.get('oldPassword').hasError('required')"
                                class="alert alert-danger">
                                <small>Password is required.</small>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary" [disabled]="!checkOldPwdForm.valid">Confirm</button>
                    </div>
                </div>

            </form>
        </div>
    </div>


                <div class="login-box">
                    <h1 class="text-white"><b>Change Password</b></h1><br>
                    <div class="container" *ngIf="displayNewPwd">

                        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="newPassword" class="text-white"> New Password</label>
                        <input type="password" class="form-control" formControlName="newPassword" id="newPassword"
                            placeholder="Enter newPassword" required />
                        <div
                            *ngIf="changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched )">
                            <div *ngIf="changePasswordForm.get('newPassword').hasError('required')"
                                class="alert alert-danger">
                                <small>Password is required.</small>
                            </div>
                            <div *ngIf="changePasswordForm.get('newPassword').hasError('pattern')"
                                class="alert alert-danger">
                                <small>Password should be atleast 8 characters long and should contain one number,one
                                    character and one
                                    special
                                    character.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="confirmPassword" class="text-white">Confirm Password</label>
                        <input type="password" class="form-control" appConfirmEqualValidator="newPassword" formControlName="confirmPassword"
                            id="confirmPassword" placeholder="Enter confirmPassword" required />
                        <div
                            *ngIf="changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched )">
                            <div *ngIf="changePasswordForm.get('confirmPassword').hasError('required')"
                                class="alert alert-danger">
                                <small>Password is required.</small>
                            </div>
                            
                            <div
                            *ngIf="changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched )">
                            <div
                              *ngIf="changePasswordForm.get('confirmPassword').hasError('notEqual') && !changePasswordForm.get('confirmPassword').hasError('required')"
                              class="alert alert-danger">
                              <small>Password & Confirm Password does not match.</small>
                            </div>
                          </div>
                        </div>

                        <br />
                        <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">UPDATE</button>
                    </div>
                </div>

            </form>
        </div>
    </div>



          

</body>
