<div>
    <app-admin-dashboard></app-admin-dashboard>
</div>

<head>
    <title>View Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="login-box">
        <br/>
      
        <div class="container">


            <form [formGroup]="empSalFormByMonthYear" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    
                 
                        <div class="col-md-10 col-lg-10 mb-10">
                            <div  class="form-inline my-2 my-lg-0 ">
                       
                        <select placeholder="Choose month" class="form-control select2" formControlName="month" style="width: 40%"
                            onkeyup="search()" required>
                            
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="Aug">August</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>

                        </select>
                    
                            &nbsp;&nbsp;
                
                      
                                 <select class="form-control select2" formControlName="year"
                                 style="width: 40%" onkeyup="search()" required>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                </select>
                            
                            &nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary" [disabled]="!empSalFormByMonthYear.valid">Search</button>
                       


                       
                        
                    </div>
                </div>

                    </div>
                        
              

            </form>
        </div>
    </div>


    <br />
    
        <table class="table">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Employee Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Bank Name</th>
                  <th scope="col">Account No</th>
                  <th scope="col">Department</th>
                  <th scope="col">Designation</th>
                  <th scope="col">Salary Month</th>
                  <th scope="col">Present Days</th>
                  <th scope="col">Net Pay</th>
                  <th scope="col">Payment Status</th>
                  <th scope="col">Payment Method</th>
                </tr>
              </thead>
              <tbody>
        
                <tr *ngFor="let e of salEmpArr;let i=index">
                    <td>{{e.emp.eid}}</td>
                    <td>{{e.emp.ename}}</td>
                    <td>{{e.emp.location}}</td>
                    <td>{{e.emp.bankName}}</td>
                    <td>{{e.emp.accountNo}}</td>
                    <td>{{e.emp.department}}</td>
                    <td>{{e.emp.deg}}</td>
                    <td>{{e.month}}</td>
                    <td>{{e.presentDays}}</td>
                    <td>{{e.netPay}}</td>
                    <td>{{e.paymentStatus}}</td>
                    <td>{{e.paymentMethod}}</td>
                  
                </tr>
               
      
      
              </tbody>
            </table>
          

</body>