<div>
<app-header-page></app-header-page>
</div>

<body>
   
    <div class="login-box">
        
        <h1 class="text-white" style="text-align: center;">LOGIN</h1><br>
          
    <div class="login-page">
        <div class="form">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="username" id="username"
                        placeholder=" Enter User Name" />
                    <div
                        *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched )">
                        <div *ngIf="loginForm.get('username').hasError('required')">
                            <small>Username is required.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" id="password"
                        placeholder=" Enter Password" />
                    <div
                        *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched )">
                        <div *ngIf="loginForm.get('password').hasError('required')" class="a">
                            <small>Password is required.</small>
                        </div>
                    </div>
                </div>
                <button id="login" type="submit" class="btn btn-primary"
                    [disabled]="!loginForm.valid">Login</button><br>

                <!-- <small>Forgot Password <a routerLink="/forgotPassword" routerLinkActive="active">Click
                        Here</a></small><br> -->
            </form>
        </div>
    

</div>
</div>
</body>

