<div>
    <app-admin-dashboard></app-admin-dashboard>
</div>

<body>
    <div class="login-box">
        <h1 class="text-white"><b> Pay Salary</b></h1><br>
        <div class="container">


            <form [formGroup]="paySalaryForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="eid" class="text-white">Employee Id</label>
                        <select class="form-control select2" formControlName="eid" style="width:460px; height:40px;"
                            required>
                            <option value="" disabled selected>Please choose</option>
                            <option *ngFor="let e of empArr" [value]="e.eid">{{e.eid}}</option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="month" class="text-white">Month</label>
                        <select class="form-control select2" formControlName="month" style="width:460px; height:40px;"
                            onkeyup="search()" required>
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="Aug">August</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>

                        </select>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="presentDays" class="text-white">Present Days</label>
                        <input type="text" maxlength="10" formControlName="presentDays" title="Enter presentDays"
                            class="form-control" id="presentDays" placeholder="Enter presentDays" required />
                        <div
                            *ngIf="paySalaryForm.controls.presentDays.invalid && (paySalaryForm.controls.presentDays.dirty || paySalaryForm.controls.presentDays.touched )">
                            <div *ngIf="paySalaryForm.get('presentDays').hasError('required')"
                                class="alert alert-danger">
                                <small>amount is required.</small>
                            </div>
                            <div *ngIf="paySalaryForm.get('presentDays').hasError('minlength')"
                                class="alert alert-danger">
                                <small> amount cannot exceed 10 characters</small>
                            </div>
                            <div *ngIf="paySalaryForm.get('presentDays').hasError('pattern')"
                                class="alert alert-danger">
                                <small> Character are not allowed Please enter numbers only</small>
                            </div>
                        </div>
                    </div>
                </div>


                
                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="year" class="text-white">Year</label>
                        
                            <select class="form-control select2" formControlName="year" style="width:460px; height:40px;"
                            onkeyup="search()" required>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>
                </div>

            

                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="netPay" class="text-white"> Net pay</label>
                        <input (click)="generateNetPay()" type="text" maxlength="10" formControlName="netPay" title="Enter netPay"
                            class="form-control" id="netPay" placeholder="Enter netPay" required />
                        <div
                            *ngIf="paySalaryForm.controls.netPay.invalid && (paySalaryForm.controls.netPay.dirty || paySalaryForm.controls.netPay.touched )">
                            <div *ngIf="paySalaryForm.get('netPay').hasError('required')" class="alert alert-danger">
                                <small>taxPercent is required.</small>
                            </div>
                            <div *ngIf="paySalaryForm.get('netPay').hasError('pattern')" class="alert alert-danger">
                                <small> Character are not allowed Please enter numbers only</small>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="paymentStatus" class="text-white">Payment status</label>
                        <select class="form-control select2" formControlName="paymentStatus"
                        style="width:460px; height:40px;" onkeyup="search()" required>
                            <option value="Success">Success</option>
                            <option value="Pending">Pending</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="paymentMethod" class="text-white">Payment Method</label>
                        <select class="form-control select2" formControlName="paymentMethod"
                        style="width:460px; height:40px;" onkeyup="search()" required>
                            <option value="bankTransfer">Bank Transfer</option>
                            <option value="upiPayment">Online Payment</option>

                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary" [disabled]="!paySalaryForm.valid">Pay</button>
                </div>




            </form>
        </div>
    </div>

</body>