


<nav class="navbar navbar-expand-lg navbar-dark fixed-top top-nav" style="background-color: #2a9d8f;">
    <div class="container">
    <a class="navbar-brand" href="#">PAYROLL MANAGEMENT SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contactus">Contact</a>
        </li>
        
      </ul>
    </div>
</div>
  </nav>