<div>
    <app-employee-dashboard></app-employee-dashboard>
</div>
<body>
    <div class="login-box">
        <h1 class="text-white"><b>Pay Slip</b></h1><br>
        <div class="container">


            <form [formGroup]="showSalaryForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="month" class="text-white">Month</label>
                        <select class="form-control select2" formControlName="month" style="width:460px; height:40px;"
                            onkeyup="search()" required>
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="Aug">August</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>

                        </select>
                    </div>
                  

                </div>  
                


                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="year" class="text-white">Year</label>
                        
                            <select class="form-control select2" formControlName="year" style="width:460px; height:40px;"
                            onkeyup="search()" required>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary" [disabled]="!showSalaryForm.valid">GENERATE</button>
                </div>

                
               

            </form>
        </div>
    </div>

</body>
