<div>
    <app-admin-dashboard></app-admin-dashboard>
</div>

<body>
    <div class="login-box">
    <h1 class="text-white" ><b>Edit Employee</b></h1><br>
    <div class="container">


        <form [formGroup]="editEmployeeForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="eid" class="text-white">Employee Id </label>
                    <input  type="text" disabled minlength="6" formControlName="eid" title="Enter Valid Flight Number"
                        class="form-control" id="eid" placeholder="Enter Employee Id" required />
                    <div
                        *ngIf="editEmployeeForm.controls.eid.invalid && (editEmployeeForm.controls.eid.dirty || editEmployeeForm.controls.eid.touched )">
                        <div *ngIf="editEmployeeForm.get('eid').hasError('required')" class="alert alert-danger">
                            <small>Employee Id is required.</small>
                        </div>
                        <div *ngIf="editEmployeeForm.get('eid').hasError('minlength')" class="alert alert-danger">
                            <small> Employee Id cannot exceed 6 characters</small>
                        </div>
                        <div *ngIf="editEmployeeForm.get('eid').hasError('pattern')" class="alert alert-danger">
                            <small> Character are not allowed Please enter numbers only</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="ename" class="text-white">Employee Name</label>
                    <input type="text" class="form-control" formControlName="ename" id="ename"
                        placeholder="Enter Employee Name" required />
                    <div
                        *ngIf="editEmployeeForm.controls.ename.invalid && (editEmployeeForm.controls.ename.dirty || editEmployeeForm.controls.ename.touched )">
                        <div *ngIf="editEmployeeForm.get('ename').hasError('required')" class="alert alert-danger">
                            <small> Employee name is required.</small>
                        </div>
                        <div *ngIf="editEmployeeForm.get('ename').hasError('pattern')" class="alert alert-danger">
                            <small>Numeric value are not allowed please Enter character only</small>
                        </div>
                    </div>

                </div>
            </div>



            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                  <label for="email" class="text-white">Email Id</label>
                  <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter Email"
                    required />
                  <div
                    *ngIf="editEmployeeForm.controls.email.invalid && (editEmployeeForm.controls.email.dirty || editEmployeeForm.controls.email.touched )">
                    <div *ngIf="editEmployeeForm.get('email').hasError('required')" class="alert alert-danger">
                      <small>Email is required.</small>
                    </div>
                    <div *ngIf="editEmployeeForm.get('email').hasError('pattern')" class="alert alert-danger">
                      <small>Email must be a valid email address</small>
                    </div>
                  </div>
        
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-10 col-lg-10">
                  <label for="phNo" class="text-white">Phone no.</label>
                  <input type="text" minlength="10" maxlength="10" formControlName="phNo" title="Enter Valid Phone Number"
                    class="form-control" id="phNo" placeholder="Enter phone no." required />
                  <div
                    *ngIf="editEmployeeForm.controls.phNo.invalid && (editEmployeeForm.controls.phNo.dirty || editEmployeeForm.controls.phNo.touched )">
                    <div *ngIf="editEmployeeForm.get('phNo').hasError('required')" class="alert alert-danger">
                      <small>Phone Number is required.</small>
                    </div>
                    <div *ngIf="editEmployeeForm.get('phNo').hasError('minlength')" class="alert alert-danger">
                      <small> Your phone should be of 10 digits</small>
                    </div>
                    <div *ngIf="editEmployeeForm.get('phNo').hasError('pattern')" class="alert alert-danger">
                      <small> Character are not allowed Please enter numbers only</small>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-10 col-lg-10">
                  <label for="accountNo" class="text-white">Account no.</label>
                  <input type="text" minlength="12" maxlength="12"  formControlName="accountNo" title="Enter valid accountNo"
                    class="form-control" id="accountNo" placeholder="Enter Account no." required />
                  <div
                    *ngIf="editEmployeeForm.controls.accountNo.invalid && (editEmployeeForm.controls.accountNo.dirty || editEmployeeForm.controls.accountNo.touched )">
                    <div *ngIf="editEmployeeForm.get('accountNo').hasError('required')" class="alert alert-danger">
                      <small>Account Number is required.</small>
                    </div>
                    <div *ngIf="editEmployeeForm.get('accountNo').hasError('minlength')" class="alert alert-danger">
                      <small> Your account no should contain 12 digits</small>
                    </div>
                    <div *ngIf="editEmployeeForm.get('accountNo').hasError('pattern')" class="alert alert-danger">
                      <small> Character are not allowed Please enter numbers only</small>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="panNo" class="text-white">Employee panNo</label>
                    <input type="text" minlength="10" maxlength="10" class="form-control" formControlName="panNo" id="panNo"
                        placeholder="Enter Employee panNo" required />
                    <div
                        *ngIf="editEmployeeForm.controls.panNo.invalid && (editEmployeeForm.controls.panNo.dirty || editEmployeeForm.controls.panNo.touched )">
                        <div *ngIf="editEmployeeForm.get('panNo').hasError('required')" class="alert alert-danger">
                            <small> Employee panNo is required.</small>
                        </div>
                        <div *ngIf="editEmployeeForm.get('panNo').hasError('minlength')" class="alert alert-danger">
                            <small> Employee panNo should contain 10 characters</small>
                        </div>
                    </div>

                </div>
            </div>



            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="address" class="text-white">Employee Address</label>
                    <input type="text" class="form-control" formControlName="address" id="address"
                        placeholder="Enter Employee address" required />
                    <div
                        *ngIf="editEmployeeForm.controls.address.invalid && (editEmployeeForm.controls.address.dirty || editEmployeeForm.controls.address.touched )">
                        <div *ngIf="editEmployeeForm.get('address').hasError('required')" class="alert alert-danger">
                            <small> Employee name is required.</small>
                        </div>
                        <div *ngIf="editEmployeeForm.get('address').hasError('minlength')" class="alert alert-danger">
                            <small> Employee name cannot exceed 50 characters</small>
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="dateOfJoining" class="text-white">Date of Joining</label>
                    <input type="date"  disabled class="form-control" formControlName="dateOfJoining" id="dateOfJoining"
                        placeholder="Enter Employee dateOfJoining" required />
                    <div
                        *ngIf="editEmployeeForm.controls.dateOfJoining.invalid && (editEmployeeForm.controls.dateOfJoining.dirty || editEmployeeForm.controls.dateOfJoining.touched )">
                        <div *ngIf="editEmployeeForm.get('dateOfJoining').hasError('required')" class="alert alert-danger">
                            <small> Employee name is required.</small>
                        </div>
                
                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="deg" class="text-white">Designation</label>
                    <select class="form-control select2" formControlName="deg" style="width:460px; height:40px;"
                        onkeyup="search()" required>
                        <option disabled>Choose designation</option>
                        <option value="Associate">Associate</option>
                        <option value="Analyst">Analyst</option>
                        <option value="SeniorAnalyst">SeniorAnalyst</option>
                        <option value="Consultant">Consultant</option>
                        <option value="TeamLeader">TeamLeader</option>
                    </select>
                    <div
                        *ngIf="editEmployeeForm.controls.deg.invalid && (editEmployeeForm.controls.deg.dirty || editEmployeeForm.controls.deg.touched )">
                        <div *ngIf="editEmployeeForm.get('deg').hasError('required')" class="alert alert-danger">
                            <small> Employee deg is required.</small>
                        </div>
                
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="department" class="text-white">Department</label>
                    <select class="form-control select2" formControlName="department" style="width:460px; height:40px;"
                        onkeyup="search()" required>
                        <option disabled>Choose department</option>
                        <option value="Testing">Testing</option>
                        <option value="Sales">Sales</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Quality">Quality</option>
                        <option value="Account">Account</option>
                        <option value="Development">Development</option>
                        <option value="CustomerService">Customer Service</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="role" class="text-white">Role</label>
                    <select  disabled class="form-control select2" formControlName="role" style="width:460px; height:40px;"
                        onkeyup="search()" required>
                        <option disabled>Choose role</option>
                        <option value="admin">Admin</option>
                        <option value="employee">Employee</option>
                        
                    </select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="bankName" class="text-white">Bank Name</label>
                    <select class="form-control select2" formControlName="bankName" style="width:460px; height:40px;"
                        onkeyup="search()" required>
                        <option disabled>Choose bankName</option>
                        <option value="HDFC">HDFC</option>
                        <option value="Kotak">Kotak Mahindra</option>
                        <option value="ICICI">ICICI</option>
                        <option value="CITI">CITI</option>
                        <option value="Axis">Axis</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="location" class="text-white">Location</label>
                    <select class="form-control select5" formControlName="location" style="width:460px; height:40px;"
                        onkeyup="search()" required>
                        <option disabled>Choose location</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Pune">Pune</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Hyderabad">Hyderabad</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="employeeStatus" class="text-white">Employee Status</label>
                    <select class="form-control select6" formControlName="employeeStatus" style="width:460px; height:40px;"
                        onkeyup="search()" required>
                        <option disabled>Choose employeeStatus</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                  <label for="salaryPerMonth" class="text-white">Monthly Salary</label>
                  <input type="text" maxlength="10" formControlName="salaryPerMonth" title="Enter Valid salaryPerMonth"
                    class="form-control" id="salaryPerMonth" placeholder="Enter salaryPerMonth." required />
                  <div
                    *ngIf="editEmployeeForm.controls.salaryPerMonth.invalid && (editEmployeeForm.controls.salaryPerMonth.dirty || editEmployeeForm.controls.salaryPerMonth.touched )">
                    <div *ngIf="editEmployeeForm.get('salaryPerMonth').hasError('required')" class="alert alert-danger">
                      <small>Salary is required.</small>
                    </div>
                    <div *ngIf="editEmployeeForm.get('salaryPerMonth').hasError('maxlength')" class="alert alert-danger">
                      <small> Your salary cannot exceed 10 characters</small>
                    </div>
                    <div *ngIf="editEmployeeForm.get('salaryPerMonth').hasError('pattern')" class="alert alert-danger">
                      <small> Character are not allowed Please enter numbers only</small>
                    </div>
                  </div>
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10 col-lg-10">

                    <label for="username" class="text-white">Username</label>
                    <input type="text" disabled class="form-control" formControlName="username" id="username"
                        placeholder="Enter Employee username" required />
                    <div
                        *ngIf="editEmployeeForm.controls.username.invalid && (editEmployeeForm.controls.username.dirty || editEmployeeForm.controls.username.touched )">
                        <div *ngIf="editEmployeeForm.get('username').hasError('required')" class="alert alert-danger">
                            <small>Employee username is required.</small>
                        </div>
                        <div *ngIf="editEmployeeForm.get('ename').hasError('minlength')" class="alert alert-danger">
                            <small> Employee username cannot exceed 50 characters</small>
                        </div>
                        <div *ngIf="editEmployeeForm.get('username').hasError('pattern')" class="alert alert-danger">
                            <small>Numeric value are not allowed please Enter character only</small>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10 col-lg-10">
                    <label for="password" class="text-white">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="password"
                        placeholder="Enter Password" required />
                    <div
                        *ngIf="editEmployeeForm.controls.password.invalid && (editEmployeeForm.controls.password.dirty || editEmployeeForm.controls.password.touched )">
                        <div *ngIf="editEmployeeForm.get('password').hasError('required')" class="alert alert-danger">
                            <small>Password is required.</small>
                        </div>
                        <div *ngIf="editEmployeeForm.get('password').hasError('pattern')" class="alert alert-danger">
                            <small>Password should be atleast 8 characters long and should contain one number,one
                                character and one
                                special
                                character.</small>
                        </div>
                    </div>

                    <br />
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>


        </form>
    </div>
</div>

</body>
