<div>
    <app-admin-dashboard></app-admin-dashboard>
</div>

<body>
    <div class="login-box">
        <h1 class="text-white"><b>Edit Salary</b></h1><br>
        <div class="container">


            <form [formGroup]="editSalaryForm" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="grade" class="text-white">Grade</label>
                        <select disabled class="form-control select2" formControlName="grade"
                        style="width:460px; height:40px;" onkeyup="search()" required>
                            <option value="Associate">Associate</option>
                            <option value="Analyst">Analyst</option>
                            <option value="SeniorAnalyst">SeniorAnalyst</option>
                            <option value="Consultant">Consultant</option>
                            <option value="TeamLeader">TeamLeader</option>

                        </select>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="amount" class="text-white">Amount </label>
                        <input type="text" maxlength="10" formControlName="amount" title="Enter amount"
                            class="form-control" id="amount" placeholder="Enter amount" required />
                        <div
                            *ngIf="editSalaryForm.controls.amount.invalid && (editSalaryForm.controls.amount.dirty || editSalaryForm.controls.amount.touched )">
                            <div *ngIf="editSalaryForm.get('amount').hasError('required')" class="alert alert-danger">
                                <small>amount is required.</small>
                            </div>
                            <div *ngIf="editSalaryForm.get('amount').hasError('minlength')" class="alert alert-danger">
                                <small> amount cannot exceed 10 characters</small>
                            </div>
                            <div *ngIf="editSalaryForm.get('amount').hasError('pattern')" class="alert alert-danger">
                                <small> Character are not allowed Please enter numbers only</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="taxPercent" class="text-white">taxPercent</label>
                        <input type="text" maxlength="10" formControlName="taxPercent" title="Enter taxPercent"
                            class="form-control" id="taxPercent" placeholder="Enter taxPercent" required />
                        <div
                            *ngIf="editSalaryForm.controls.taxPercent.invalid && (editSalaryForm.controls.taxPercent.dirty || editSalaryForm.controls.taxPercent.touched )">
                            <div *ngIf="editSalaryForm.get('taxPercent').hasError('required')"
                                class="alert alert-danger">
                                <small>taxPercent is required.</small>
                            </div>
                            <div *ngIf="editSalaryForm.get('taxPercent').hasError('minlength')"
                                class="alert alert-danger">
                                <small> taxPercent cannot exceed 3 characters</small>
                            </div>
                            <div *ngIf="editSalaryForm.get('taxPercent').hasError('pattern')"
                                class="alert alert-danger">
                                <small> Character are not allowed Please enter numbers only</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="grossIncome" class="text-white">GrossIncome </label>
                        <input type="text" (click)="generateGrossIncome()" maxlength="10" formControlName="grossIncome" title="Enter grossIncome"
                            class="form-control" id="grossIncome" placeholder="Enter grossIncome" required />
                        <div
                            *ngIf="editSalaryForm.controls.grossIncome.invalid && (editSalaryForm.controls.grossIncome.dirty || editSalaryForm.controls.grossIncome.touched )">
                            <div *ngIf="editSalaryForm.get('grossIncome').hasError('required')"
                                class="alert alert-danger">
                                <small>grossIncome is required.</small>
                            </div>
                            <div *ngIf="editSalaryForm.get('grossIncome').hasError('minlength')"
                                class="alert alert-danger">
                                <small>grossIncome cannot exceed 10 characters</small>
                            </div>
                            <div *ngIf="editSalaryForm.get('grossIncome').hasError('pattern')"
                                class="alert alert-danger">
                                <small> Character are not allowed Please enter numbers only</small>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10 col-lg-10">
                        <label for="grossDeduction" class="text-white">GrossDeduction</label>
                        <input type="text" (click)="generateGrossDeduction()" maxlength="10" formControlName="grossDeduction" title="Enter grossDeduction"
                            class="form-control" id="grossDeduction" placeholder="Enter grossDeduction" required />
                        <div
                            *ngIf="editSalaryForm.controls.grossDeduction.invalid && (editSalaryForm.controls.grossDeduction.dirty || editSalaryForm.controls.grossDeduction.touched )">
                            <div *ngIf="editSalaryForm.get('grossDeduction').hasError('required')"
                                class="alert alert-danger">
                                <small>grossDeduction is required.</small>
                            </div>
                            <div *ngIf="editSalaryForm.get('grossDeduction').hasError('minlength')"
                                class="alert alert-danger">
                                <small> grossDeduction cannot exceed 10 characters</small>
                            </div>
                            <div *ngIf="editSalaryForm.get('grossDeduction').hasError('pattern')"
                                class="alert alert-danger">
                                <small> Character are not allowed Please enter numbers only</small>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary" [disabled]="!editSalaryForm.valid">Edit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</body>