
<nav class="navbar navbar-expand-lg navbar-dark fixed-top top-nav" style="background-color: #2a9d8f;">
  <div class="container">
  <a class="navbar-brand" href="#">PAYROLL MANAGEMENT SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
  
      


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employee
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/addemployee">Add Emp</a>
          <a class="dropdown-item" routerLink="/viewactiveemp"> Active Emp</a>
          <a class="dropdown-item" routerLink="/paysalary">Pay Emp</a>
          <a class="dropdown-item" routerLink="/viewemployee">All Emp</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Salary
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/addsalary">Add</a>
          <a class="dropdown-item" routerLink="/viewsalary">View</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Report
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/empsalreport">Employee Report</a>
          <a class="dropdown-item" routerLink="/empsalmonthreport">Monthly Report</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/adminchangepwd">Change Password</a>
          <a class="dropdown-item" routerLink="/">Logout</a>
        </div>
      </li>


      
      

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/adminchangepwd">Change Password</a>
      </li> -->


    </ul>
  </div>
</div>
</nav>