<div>
    <app-admin-dashboard></app-admin-dashboard>
</div>

<head>
    <title>View Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    


<body>

    <div class="login-box">
         <br/>
        <div class="container">

        <form [formGroup]="empSalFormById" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-md-10 col-lg-10 mb-10">
                    <div  class="form-inline my-2 my-lg-0 ">
                   
                    <input type="text" minlength="6" formControlName="eid" title="Enter Valid eid"
                        class="form-control" id="eid" placeholder="Enter Employee Id" required style="width: 700px"/>
                        &nbsp; &nbsp;
                        <button type="submit" class="btn btn-primary" [disabled]="!empSalFormById.valid">Search</button>
                        <div
                        *ngIf="empSalFormById.controls.eid.invalid && (empSalFormById.controls.eid.dirty || empSalFormById.controls.eid.touched )">
                        <div *ngIf="empSalFormById.get('eid').hasError('required')" class="alert alert-danger">
                            <small>Employee Id is required.</small>
                        </div>
                        <div *ngIf="empSalFormById.get('eid').hasError('minlength')" class="alert alert-danger">
                            <small> Employee Id should contain 6 digits</small>
                        </div>
                        <div *ngIf="empSalFormById.get('eid').hasError('pattern')" class="alert alert-danger">
                            <small> Character are not allowed Please enter numbers only</small>
                        </div>
                        
                    </div>
                    </div>
                    
                </div>
            </div>

                    
              

            </form>
        </div>
    </div>




    <br />


    <table class="table">
        <thead class="thead-light">
            <tr>
              <th scope="col">Employee Id</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Bank Name</th>
              <th scope="col">Account No</th>
              <th scope="col">Department</th>
              <th scope="col">Designation</th>
              <th scope="col">Salary Month</th>
              <th scope="col">Present Days</th>
              <th scope="col">Net Pay</th>
              <th scope="col">Payment Status</th>
              <th scope="col">Payment Method</th>
            </tr>
          </thead>
          <tbody>
    
            <tr *ngFor="let e of salEmpArr;let i=index">
                <td>{{e.emp.eid}}</td>
                <td>{{e.emp.ename}}</td>
                <td>{{e.emp.location}}</td>
                <td>{{e.emp.bankName}}</td>
                <td>{{e.emp.accountNo}}</td>
                <td>{{e.emp.department}}</td>
                <td>{{e.emp.deg}}</td>
                <td>{{e.month}}</td>
                <td>{{e.presentDays}}</td>
                <td>{{e.netPay}}</td>
                <td>{{e.paymentStatus}}</td>
                <td>{{e.paymentMethod}}</td>
              
            </tr>
           
  
  
          </tbody>
        </table>
</body>