<div>
    <app-admin-dashboard></app-admin-dashboard>
</div>
<head>
    <title>View Employee</title>
</head>
<body>
<div class="container">
    <b style="font-size: 24px;"> List of All Active Employee</b>
    <table class="table">
      <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Department</th>
            <th scope="col">Designation</th>
            <th scope="col">Location</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let e of employeeArr;let i=index">
           
            <td>{{e.eid}}</td>
            <td>{{e.ename}}</td>
            <td>{{e.username}}</td>
            <td>{{e.department}}</td>
            <td>{{e.deg}}</td>
            <td>{{e.location}}</td>
            <td>{{e.email}}</td>
            <td>{{e.phNo}}</td>
            <td>
              <button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0" (click)="updateEmployee(e)">Edit</button>
            </td>
            <td>
              <button type="button"
                  class="btn btn-success btn-rounded btn-sm my-0" (click)="deleteEmployee(e,i)">Inactive</button>
            </td>
          </tr>
         


        </tbody>
      </table>
      
</div>
</body>
