<app-header-page></app-header-page>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1"></h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <!-- <p><img class=" img-fluid" src="https://scontent.fblr4-2.fna.fbcdn.net/v/t1.0-9/65000273_2182306908658400_2382137996511019008_n.jpg?_nc_cat=107&_nc_oc=AQm-_gp5_M2Mck5kcEDdszjNc0Xo89d3hGf_SVrbF2UDCq5tUdSJizPbAUGdesC0-ao&_nc_ht=scontent.fblr4-2.fna&oh=159fbe73aaad0b6ef31dbf6fcf8104e7&oe=5D8374F0" alt="card image"></p> -->
                                    <h4 class="card-title">ALLURU YASMINE</h4>
                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">ALLURU YASMINE</h4>
                                    <p class="card-text">JAVA FULL STACK DEVELOPER<br>
                                                          Email id:-Alluru yasmine@gmail.com<br>
                                                           Contact no-8988823451
                                                        </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <!-- <p><img class=" img-fluid" src="https://scontent.fdel21-1.fna.fbcdn.net/v/t1.0-9/10250245_1510606695819620_5620126144178818691_n.jpg?_nc_cat=100&_nc_oc=AQm7Tt_iy8zAhkaa1eQnIIKwaFUuvaVu0-bXbACU_DbzWAZpU_Nwje3pTGaAm6PfL30&_nc_ht=scontent.fdel21-1.fna&oh=8b368c9322adc388783648995fc7f37d&oe=5DC0E8A1" alt="card image"></p> -->
                                    <h4 class="card-title">KAVYA MARRI</h4>
                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">KAVYA MARRI</h4>
                                    <p class="card-text">JAVA FULL STACK DEVELOPER<br>
                                                         Email id:-Kavya marri@gmail.com<br>
                                                         Contact no-8988823410</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <!-- <p><img class=" img-fluid" src="https://scontent.fdel21-1.fna.fbcdn.net/v/t1.0-9/65211644_2181729902049434_8858352382799511552_n.jpg?_nc_cat=100&_nc_oc=AQmFbXc2gxNSSaCS2qK8fNJhnrAQd92Gu_gqWzVBEpiWIzgss2ZRTYQ3biFzXyTZUj0&_nc_ht=scontent.fdel21-1.fna&oh=7b6d622f04302b35ffc6c6d39be5e084&oe=5D824124" alt="card image"></p> -->
                                    <h4 class="card-title">TABASSUM NAAZ</h4>
                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">TABASSUM NAAZ</h4>
                                    <p class="card-text">JAVA FULL STACK DEVELOPER<br>
                                                         Email id:-tabnaaz8@gmail.com<br>
                                                        Contact no-9898989898</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <!-- <p><img class=" img-fluid" src="https://scontent.fblr4-2.fna.fbcdn.net/v/t1.0-9/65058491_2182307925324965_5389282301110648832_n.jpg?_nc_cat=108&_nc_oc=AQkCcj0A3hGwy4HFNPr4OfS4S76vRzfQiJ4CUEjzMJwHG807eBukyOzH1s-B-I1K_BA&_nc_ht=scontent.fblr4-2.fna&oh=bb793dd7b769cb5de118448a6e3622d3&oe=5DBC1F21" alt="card image"></p> -->
                                    <h4 class="card-title">THARUN</h4>
                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">THARUN</h4>
                                    <p class="card-text">JAVA  FULL STACK DEVELOPER<br>
                                                         Email id:-tharun@gmail.com<br>
                                                         Contact no-9998824451</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <!-- <p><img class=" img-fluid" src="https://scontent.fdel21-1.fna.fbcdn.net/v/t1.0-9/65120134_2181733888715702_8741941215546572800_n.jpg?_nc_cat=109&_nc_oc=AQnp2wgj9jbHTqHjtNN33rK1f_hslMLOpREzRoPgvy_eBhhKP4xMMh-l3RpCayvwP-I&_nc_ht=scontent.fdel21-1.fna&oh=b2850c2fe0fc6ba102e5c71201c62035&oe=5D7C6BAB" alt="card image"></p> -->
                                    <h4 class="card-title">D UDAY KUMAR</h4>
                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">D UDAY KUMAR</h4>
                                    <p class="card-text">JAVA SCRIPT FULL STACK DEVELOPER<br>
                                                        Email id:-uday@gmail.com<br>
                                                        Contact no-8982340781</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
        </div>
    </div>
</section>
<!-- Team -->
