<div>
	<app-header-page></app-header-page>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>


<!-- Intro Seven -->
<section class="intro carousel slide bg-overlay-light h-auto" id="carouselExampleCaptions">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <!-- <img class="d-block img-fluid" alt="First slide" src="https://grafreez.com/wp-content/temp_demos/suffi/img/intro-bg-01.jpg"> -->
        <div class="carousel-caption ">
          	<h2 class="display-4 text-white mb-2 mt-4">In the business world, the rearview mirror is always clearer than the windshield.</h2>
			<!-- <p class="text-white mb-3 px-5 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do enim ad minim veniam, </p> -->
			<a routerLink="/login" class="btn btn-primary btn-capsul px-4 py-2">Login</a>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img class="d-block img-fluid" alt="First slide" src="https://grafreez.com/wp-content/temp_demos/suffi/img/intro-bg-02.jpg"> -->
        <div class="carousel-caption ">
          	<h2 class="display-4 text-white mb-2 mt-4">Accept the challenges so that you can feel the exhilaration of victory.</h2>
			<!-- <p class="text-white mb-3 px-5 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do enim ad minim veniam, </p> -->
			<a routerLink="/login" class="btn btn-primary btn-capsul px-4 py-2">Login</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</section>

<!-- Info block 1 -->
<section class="info-section">
	<div class="container">
		<div class="head-box text-center mb-5">
			<h2>Who We Are</h2>
			<h6 class="text-underline-primary">This is information panel</h6>
		</div>
		<div class="three-panel-block mt-5">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<i class="fa fa-laptop box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
						<h3>Responsive Design</h3>
						<p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<i class="fa fa-calendar box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
						<h3>Integrated Calendar</h3>
						<p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<i class="fa fa-bug box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
						<h3>Bug Free Solutions</h3>
						<p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<i class="fa fa-cloud-upload box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
						<h3>Cloud Storage</h3>
						<p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<i class="fa fa-diamond box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
						<h3>Premium Features</h3>
						<p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center p-lg-3">
						<i class="fa fa-comments box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
						<h3>24/7 Support</h3>
						<p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 


<!-- team style 1 -->
 <section class="team-section py-5" style="background-color:#000;">
	<div class="container">
		<div class="row mb-5">
			<div class="head-box text-center mb-5 col-md-12">
				<h2>Meet Our Team</h2>
				<h6 class="text-underline-primary mb-5">This is information panel</h6>
			</div>
			<div class="col-md-4 mb-md-0 mb-sm-4">
				<div class="member-box anim-lf t-bottom">
			        <img class="img-fluid" src="https://grafreez.com/wp-content/temp_demos/suffi/img/t-member-01.jpg" alt="">
			        <div class="overlay-content">
			          <h3 class="text-white ml-3 my-0">Jim Gorden</h3>
			          <p class="text-white ml-3 mb-3">Developer</p>
			          <span class="socail-l ml-3 mb-3">
			            <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
						<a href="#" class="mr-2"><i class="fa fa-twitter box-circle-solid"></i></a>
						<a href="#"><i class="fa fa-dribbble box-circle-solid"></i></a>
			          </span>
			        </div>
			    </div>
			</div>
			<div class="col-md-4 mb-md-0 mb-sm-4">
				<div class="member-box anim-lf t-bottom">
			        <img class="img-fluid" src="https://grafreez.com/wp-content/temp_demos/suffi/img/t-member-02.jpg" alt="">
			        <div class="overlay-content">
			          <h3 class="text-white ml-3 my-0">Peyton Warren</h3>
			          <p class="text-white ml-3 mb-3">UI/UX</p>
			          <span class="socail-l ml-3 mb-3">
			            <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
						<a href="#" class="mr-2"><i class="fa fa-twitter box-circle-solid"></i></a>
						<a href="#"><i class="fa fa-dribbble box-circle-solid"></i></a>
			          </span>
			        </div>
			    </div>
			</div>
			<div class="col-md-4 mb-md-0 mb-sm-4">
				<div class="member-box anim-lf t-bottom">
			        <img class="img-fluid" src="https://grafreez.com/wp-content/temp_demos/suffi/img/t-member-03.jpg" alt="">
			        <div class="overlay-content">
			          <h3 class="text-white ml-3 my-0">Craig Thompson</h3>
			          <p class="text-white ml-3 mb-3">Manager</p>
			          <span class="socail-l ml-3 mb-3">
			            <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
						<a href="#" class="mr-2"><i class="fa fa-twitter box-circle-solid"></i></a>
						<a href="#"><i class="fa fa-dribbble box-circle-solid"></i></a>
			          </span>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</section>

</body>