
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top top-nav" style="background-color: #2a9d8f;">
  <div class="container">
  <a class="navbar-brand" href="#">PAYROLL MANAGEMENT SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
  
      <li class="nav-item active">
        <a class="nav-link" routerLink="/showpayslip">Pay Slip</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/empchangepwd">Change Password</a>
          <a class="dropdown-item" routerLink="/">Logout</a>
        </div>
      </li>

    </ul>
  </div>
</div>
</nav>